<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file"
            xsi:type="File"
            layout="${date:format=HH\:mm\:ss} ${level} ${message} &lt;&lt;-- ${logger} "
            fileName="${basedir}/Log/nlogger-debug.txt"/>
    <!--<target name="csv"
            xsi:type="File"
            fileName="${basedir}/Log/nlogger-out.csv">
      <layout xsi:type="CSVLayout">
        <column name="Time"
                layout="${longdate}" />
        <column name="Level"
                layout="${level}"/>
        <column name="Log-Message"
                layout="${message}" />
      </layout>
    </target>-->
  </targets>
  <rules>
    <logger name="*"
            minlevel="Trace"
            writeTo="file"/>
    <!--<logger name="*"
            minlevel="Info"
            writeTo="csv"/>-->
  </rules>
</nlog>