<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gean.Data.SQLite.Demo.Properties.Settings.mydemo_dbConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=mydemo_db;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>